<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= JSON.stringify(htmlWebpackPlugin.options.title) %></title>
		<!-- <link rel="stylesheet" href="../webgl.css" type="text/css"> -->
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
		<script id="vertexShader" type="x-shader/x-vertex">
			precision mediump float;
			precision mediump int;
			uniform mat4 modelViewMatrix; // optional
			uniform mat4 projectionMatrix; // optional
			attribute vec3 position;
			attribute vec4 color;
			varying vec3 vPosition;
			varying vec4 vColor;
			void main()	{
				vPosition = position;
				vColor = color;
				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			}
		</script>

		<script id="fragmentShader" type="x-shader/x-fragment">
			precision mediump float;
			precision mediump int;
			uniform float time;
			varying vec3 vPosition;
			varying vec4 vColor;
			void main()	{
				vec4 color = vec4( vColor );
				color.r += sin( vPosition.x * 10.0 + time ) * 0.5;
				gl_FragColor = color;
			}
		</script>

		<style>
			.container {
				position: relative;
			}
			
			#text {
				position: absolute;
				left: 0px;
				top: 0px;
				z-index: 10;
			}
		</style>


	<body>
		<h1 id="loading">Loading please be patient....</h1>
		<div class="container">
			<canvas id="game" width="1000" height="700"></canvas>
			<canvas id="text" width="1000" height="700"></canvas>
		</div>
		<img id="refresh" src="./src/assets/images/refresh.png" hidden/>
		<video src="https://res.cloudinary.com/rootworld/video/upload/v1530081026/soundcloud_acchi_muite_rally_jaxx.mp3" autoplay hidden></video>
		<p>Press M to mute the music</p>
		<script>
			document.onkeypress = (ev)=>{
				if (ev.key == "m"){
					document.querySelector('video').pause();
				}
			}
		</script>
	</body>
	<!-- <script src="./src/gl-matrix.js"></script> -->
	<!-- <script src="./src/cube.js"></script> -->
	<!-- <script src="<%= JSON.stringify(htmlWebpackPlugin.options.scriptsrc) %>"></script> -->
</html>